:host {
  display: none;
  font-size: medium;
  color: white;
}

header, main, footer {
  display: none;
}

section {
  z-index: 100;
  position: absolute;
  width: 100%;
  text-align: center;
}

header section {
  margin-top: 5%;
}

main section {
  margin-top: 10%;
}

footer section {
  margin-top: 10%;
}

video {
  width: 100%;
}

header video {
  opacity: 1;
}

main video {
  opacity: 0.25;
}

footer video {
  opacity: 0.25;
}

tl-robot {
  float: right;
}

@media (max-width: 480px) {
  :host {
      font-size: small;
  }

  header {
    margin-top: 2%;
  }

  tl-robot {
    display: none;
  }
}