:host {
  display: none;
  font-size: medium;
  color: white;
}

header, main, footer {
  display: none;
}

section {
  z-index: 100;
  position: absolute;
  width: 100%;
  text-align: center;
}

header section {
  margin-top: 5%;
}

main section {
  margin-top: 10%;
}

footer section {
  margin-top: 10%;
}

video {
  width: 100%;
}

header video {
  opacity: 1;
}

main video {
  opacity: 0.25;
}

footer video {
  opacity: 0.25;
}

tl-robot {
  float: right;
}

h1 {
  font-size: 3em;
}

ul {
  font-size: 1.5em;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

li {
  margin: 20px;
  color: whitesmoke;
}

main li::before {
  content: "✅";
  margin-right: 20px;
}

footer li::before {
  content: "💰";
  margin-right: 15px;
}

strong, em {
  color: white;
}

main strong {
  color: orange
}

@media (max-width: 480px), (max-height: 480px) {
  :host {
      font-size: small;
  }

  header section {
    margin-top: 3%;
  }

  main section {
    margin-top: 0;
  }
  
  footer section {
    margin-top: 0;
  }

  h1 {
    font-size: 2em;
  }

  ul {
    font-size: 1em;
    width: 90%;
  }

  li {
    margin: 10px;
  }

  main li::before {
    margin-right: 10px;
  }
  
  footer li::before {
    margin-right: 5px;
  }

  tl-robot {
    display: none;
  }

  tl-kiitos {
    --width: 60vw;
  }
}

@media (max-width: 480px) {
  main, footer {
    height: max(60vw, 60vh);
    background-color: #222;
  }
}

@media (max-height: 480px) {
  ul, li, li strong, li em, li u {
    font-size: 10pt;
  }
}